/* This file is for your main application css. */

.navbar {
    font-size: 14px;
}

.navbar a {
    color: white;
    font-weight: bolder;
}

.navbar a:hover {
    color: rgb(255, 178, 53);
}

.add-btn {
    width: 300px;
    margin: 10px;
}